{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}新規ユーザー登録{% endblock %}

{#{% block active_signup %}active{% endblock %}#}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card md-4 shadow-sm">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">新規登録</h2>
                </div>
                <form class="form_add" method="post">

                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% bootstrap_button button_type="submit" content="登録" %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}

                </form>
            </div>
            <div class="card-footer text-muted text-center">
                ログインは <a href="{% url 'account_login' %}">こちら</a>
            </div>
        </div>
    </div>
{% endblock %}