{% extends "base.html" %}
{% load static %}

{% block title %}エントリーチーム一覧{% endblock %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <div class="col-lg-8 col-md-10 mx-auto">
                {% if object_list  %}
                    {% for tochidan_user in object_list %}
                        <a href="{% url 'tochidan_app:tochidan_user_detail' tochidan_user.pk %}">
                        <div class="post-preview">
                            <h2 class="post-title">
                                {{ tochidan_user.team_name }}
                            </h2>
                            <div class="user-list">
                            {% if tochidan_user.photo %}
                                <img class="img-list" src="/media/{{ tochidan_user.photo }}" width="70px">
                            {% endif %}
                            {% if tochidan_user.audio %}
                                <audio controls="controls">
                                    <source src="{{ tochidan_user.audio.url }}" type="audio/ogg" />
                                    <source src="{{ tochidan_user.audio.url }}" type="audio/mpeg" />
                                    <source src="{{ tochidan_user.audio.url }}" type="audio/wav" />
                                    <source src="{{ tochidan_user.audio.url }}" type="audio/mp3" />
                                    <source src="{{ tochidan_user.audio.url }}" type="audio/acc" />
                                    <source src="{{ tochidan_user.audio.url }}" type="audio/aif" />
                                </audio>
                            {% endif %}
                            </div>
                            <div class="user-list-date">
                            {% if tochidan_user.created_at %}
                                <p class="post-meta">登録日時 : {{ tochidan_user.created_at }}</p>
                            {% endif %}
                            {% if tochidan_user.updated_at %}
                                <p class="post-meta">更新日時 : {{ tochidan_user.updated_at }}</p>
                            {% endif %}
                            </div>
                        </div>
                        </a>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>ユーザーは登録されていません。</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}