{% extends 'base.html' %}
{% load embed_video_tags %}

{% block title %}マイページ{% endblock %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
{#            {% for object in tochidanapp %}#}
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h2>こんにちは{{ object.user }}さん</h2>
                    <h3>あなたのダンスチームは{{ object.team_name }}です。</h3>
                    <hr>
                    {% if object.photo %}
                        <h4>チーム写真</h4>
                        <img src="/media/{{ object.photo }}" width="350" class="rounded mx-auto d-block" alt="...">
                    {% endif %}
                    <hr>
                    {% if object.audio %}
                        <h4>使用曲</h4>
                        <div class="audio">
                            <audio controls="controls">
                                <source src="{{ object.audio.url }}" type="audio/ogg" />
                                <source src="{{ object.audio.url }}" type="audio/mpeg" />
                                <source src="{{ object.audio.url }}" type="audio/wav" />
                                <source src="{{ object.audio.url }}" type="audio/mp3" />
                                <source src="{{ object.audio.url }}" type="audio/acc" />
                                <source src="{{ object.audio.url }}" type="audio/aif" />
                            </audio>
                        </div>
                    {% endif %}
                    <hr>
{#                    {% if object.youtube %}#}
{#                        <h4 class="detail_h4">Youtube</h4>#}
{#                        <p>※ユーチューブにダンスムービーがあるようでしたらお願いします。</p>#}
{#                        <iframe width="560" height="315" src="{{ object.youtube }}" ></iframe>#}
{#                    {% endif %}#}
{#                    <hr>#}
                    {% if object.number_of_people %}
                        <h4 class="detail_h4">構成人数</h4>
                        <p>{{ object.number_of_people }}名</p>
                    {% endif %}
                    <hr>
                    {% if object.activity_histori %}
                        <h4>活動歴</h4>
                        <p>{{ object.activity_histori }}</p>
                    {% endif %}
                    <hr>
                    {% if object.genre %}
                        <h4>ジャンル</h4>
                        <p>{{ object.genre }}</p>
                    {% endif %}
                    <hr>
                    {% if object.school_name %}
                        <h4>スクール名</h4>
                        <p>{{ object.school_name }}</p>
                    {% endif %}
                    <hr>
                    {%  if object.representative %}
                        <h4>代表者名</h4>
                        <p>{{ object.representative }}</p>
                        <p>※連絡のつく代表者を記入ください。</p>
                    {% endif %}
                    <hr>
                    {% if object.telephone_number %}
                        <h4>電話番号</h4>
                        <p>{{ object.telephone_number }}</p>
                    {% endif %}
                    <hr>
                    {% if object.email %}
                        <h4>メールアドレス</h4>
                        <p>{{ object.email }}</p>
                    {% endif %}
                    <hr>
                    {% if object.comment %}
                        <h4>コメント・実績・PRなどなど </h4>
                        <p>{{ object.comment }}</p>
                    {% endif %}
                    <hr>
                    <div class="clearfix">
                    {% if object == true %}
                        <span aria-hidden="true">
                        <a class="btn btn-primary float-right" href="{% url 'tochidan_app:tochidan_user_create' %}">ダンスチームを登録する</a>
                        </span>
                    {% else %}
                        {% if request.user.id == object.user.id %}
                            <a class="btn btn-success mt-5 mb-3" href="{% url 'tochidan_app:tochidan_user_update' object.pk %}">編集</a>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
{#            {% endfor %}#}
            </div>
        </div>
    </div>
{% endblock %}