{% extends 'base.html' %}
{% load static %}

{% block title %}チーム登録{% endblock %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">



                <p>チーム情報を登録して下さい。</p>
                <p>可能な限りでお願いします。登録後でも編集ができます。</p>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-primary" type="submit">登録</button>
                </form>



            </div>
        </div>
    </div>
{% endblock %}