{% extends 'base.html' %}


{% block title %}マイページ{% endblock %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>こんにちは{{ object.user }}さん</p>
                    あなたのダンスチームは{{ object.team_name }}です。
                    {% if object.photo %}
                        <p>チーム写真</p>
                        <img src="/media/{{ object.photo }}" width="300px">
                    {% endif %}
                    {% if object.record %}
                        <p>使用曲</p>
                        <audio controls="controls">
                            <source src="{{ object.record.url }}" type="audio/ogg" />
                            <source src="{{ object.record.url }}" type="audio/mpeg" />
                            <source src="{{ object.record.url }}" type="audio/wav" />
                            <source src="{{ object.record.url }}" type="audio/mp3" />
                            <source src="{{ object.record.url }}" type="audio/acc" />
                            <source src="{{ object.record.url }}" type="audio/aif" />
                        </audio>
                    {% endif %}
                    <div class="clearfix">
                    {% if object == true %}
                        <span aria-hidden="true">
                        <a class="btn btn-primary float-right" href="{% url 'tochidan_app:tochidan_user_create' %}">ダンスチームを登録する</a>
                        </span>
                    {% else %}
                        {% if request.user.id == object.user.id %}
                            <a class="btn btn-success mt-5 mb-3" href="{% url 'tochidan_app:tochidan_user_update' object.pk %}">編集</a>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}