body {
    height: 100%;
    width: 100%;
}

nav p {
    color: aliceblue;
}




main {
    padding: 6rem 0;
/*    background-color: cornflowerblue;*/
/*    height: 100%;*/
}

.container {
    color: dimgrey;
}

footer {
    background-color: black;
    height: 100px;
}


.form_add {
    padding:20px;
}

.alert {
    margin-top: 30px;
}

